@import 'bootstrap/dist/css/bootstrap.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: lightgrey;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.cell {
  border: 1px solid white;
  border-radius: 15px;
  ;
}

.board {
  margin: 100px 200px;
}

button:hover {
  background-color: aquamarine;
}

.title {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
  padding-bottom: 30px;
}

.game-result {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-weight: 700;
  color: green;
  text-transform: uppercase;
}

.reset-btn {
  border: 1px solid white;
  border-radius: 15px;
}